body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

.title {
    font-size: 35px;
    margin-bottom: 20px;
}

.qr-generator {
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.qr-generator input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.qr-generator button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}

.qr-code-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

#downloadLink {
    color: #4CAF50;
    text-decoration: none;
    padding: 10px 10px;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    margin-bottom: 25px;
}
